<!--
Copyright 2020—2022 Wang Chucheng <me@wangchucheng.com>
SPDX-License-Identifier: Apache-2.0
-->
{{- $bundles := partial "utils/get-bundles" . }}
{{- if gt (len $bundles) 1 }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {{- range $index, $value := $bundles.Reverse -}}
    {{- if gt $index 0 -}},{{- end -}}
    {
      "@type": "ListItem",
      "position": {{- add $index 1 -}},
      "name": {{- .LinkTitle -}},
      "item": {{- .Permalink -}}
    }
    {{- end -}}
  ]
}
</script>
{{- end }}
