{{ define "main" }}

{{ partial "page-title.html" . }}
{{- range site.Params.shipping }}
{{- if .button }}
{{- partial (printf "shipping-%s-script.html" .name) . }}
{{- end }}
{{- end }}
<script id="cart-summary-template" type="text/template">
<div class="row">
  [[ if items.length > 0 ]]
  <div class="table-responsive col-12">
    <table class="table table-borderless">
      <thead class="border-bottom">
          <tr>
            <th scope="col"> </th>
            <th scope="col">{{ with "Product" }}{{ i18n . | default . }}{{ end }}</th>
            <th scope="col" class="text-right">{{ with "Price" }}{{ i18n . | default . }}{{ end }}</th>
            <th scope="col" class="text-center">{{ with "Quantity" }}{{ i18n . | default . }}{{ end }}</th>
            <th scope="col" class="text-right">{{ with "Subtotal" }}{{ i18n . | default . }}{{ end }}</th>
          </tr>
        </thead>
        <tbody>
          [[ for item in items ]]
          <tr>
            <td><img class="img-thumbnail" src="[= item.image =]" /> </td>
            <td><a href="[= item.url =]">[= item.name =]</a></td>
            <td class="text-right">[= item.price =]</td>
            <td class="text-center">
              <input
                class="form-control cart-quantity text-center"
                data-id="[= item.id =]"
                type="number"
                value="[= item.quantity =]"
                min="0"
                max="[= item.instock =]"
                onchange="updateQuantity(event)"
                inputmode="numeric" /><br>
              <button
                class="btn btn-sm btn-outline-primary"
                data-id="[= item.id =]"
                onclick="removeItem(event)">{{ with "Delete" }}{{ i18n . | default . }}{{ end }} </button>
            </td>
            <td class="text-right">[= item.subtotal =]</td>
          </tr>
          [[ endfor ]]
          <tr class="border-top">
            <td colspan="2"></td>
            <td rowspan="0">
              <fieldset>
                <legend>{{ with "Choose delivery" }}{{ i18n . | default . }}{{ end }}</legend>
                {{ range $i, $e := site.Params.shipping }}
                <div class="row">
                  <div class="col-9">
                    <input type="radio" id="{{ .name }}" name="delivery"
                           data-delivery-price="{{ .price }}"
                           onchange="selectDelivery(event)"
                           {{ if $i }}{{ else }}checked{{ end }}
                           data-delivery-details-required="{{ with .button}}{{ cond . "true" "false" }}{{ else }}false{{ end }}"
                           value="{{ .name }}">
                    <label for="{{ .name }}">{{ i18n .description | default .description }}</label>
                    {{ if .details }}
                    <br>
                    <small>{{ .details | markdownify }}</small>
                    {{ end }}
                    {{ if .button }}
                    <br>
                    {{ partial (printf "shipping-%s-button.html" .name) . }}
                    {{ end }}
                  </div>
                    <div class="col-3 text-right">
                    {{ if .price }}
                    {{ .price | lang.FormatCurrency 2 (site.Params.currency) }}
                    {{ else }}
                    {{ with "Free" }}{{ i18n . | default . }}{{ end }}
                    {{ end }}
                  </div>
                </div>
                {{ end }}
              </fieldset>
            </td>
            <td class="text-right"><strong>{{ with "Subtotal" }}{{ i18n . | default . }}{{ end }}</strong></td>
            <td class="text-right">[= subtotal =]</td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="text-right align-middle"><strong>{{ with "Shipping" }}{{ i18n . | default . }}{{ end }}</strong></td>
            <td class="text-right align-middle cart-delivery-total">[= deliveryPrice =]</td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="text-right align-middle"><strong>{{ with "Total" }}{{ i18n . | default . }}{{ end }}</strong></td>
            <td class="text-right align-middle cart-total">[= total =]</td>
          </tr>
        </tbody>
    </table>
  </div>
  <div class="col py-5">
  </div>
  [[ else ]]
  <div class="col text-center py-5">
    <h5>{{ with "The cart is empty" }}{{ i18n . | default . }}{{ end }}</h5>
  </div>
  [[ endif ]]
</div>
<div class="row">
  <div class="col mb-2">
      <div class="row">
          <div class="col-sm-12 col-md-6">
              <button class="btn btn-block btn-light" onclick="history.back();">{{ with "Continue shopping" }}{{ i18n . | default . }}{{ end }}</button>
          </div>
          [[ if items.length > 0 ]]
          <div class="col-sm-12 col-md-6 text-right">
              <button id="cart-checkout"
                      class="btn btn-lg btn-block btn-success text-uppercase"
                      onclick="performCheckout()">{{ with "Proceed to checkout" }}{{ i18n . | default . }}{{ end }}</button>
          </div>
          [[ endif ]]
      </div>
  </div>
</script>
<section class="section pt-0">
  <div class="container" id="cart-summary">
  </div>
</section>

{{ end }}
