{{ define "main" }}

{{ partial "page-title.html" . }}
{{- range site.Params.shipping }}
{{- if .button }}
{{- partial (printf "shipping-%s-script.html" .name) . }}
{{- end }}
{{- end }}
<script id="cart-summary-template" type="text/template">
<div class="row">
  [[ if items.length > 0 ]]
  <div class="table-responsive col-12">
    <table class="table table-borderless">
      <thead class="border-bottom">
          <tr>
            <th scope="col"> </th>
            <th scope="col">{{ with "Product" }}{{ i18n . | default . }}{{ end }}</th>
            <th scope="col" class="text-right">{{ with "Price" }}{{ i18n . | default . }}{{ end }}</th>
            <th scope="col" class="text-center">{{ with "Quantity" }}{{ i18n . | default . }}{{ end }}</th>
            <th scope="col" class="text-right">{{ with "Subtotal" }}{{ i18n . | default . }}{{ end }}</th>
          </tr>
        </thead>
        <tbody>
          [[ for item in items ]]
          <tr>
            <td><img class="img-thumbnail" src="[= item.image =]" /> </td>
            <td>
              <a href="[= item.url =]">[= item.name =]</a>
              [[ if item.colour ]]<br>
              <strong>{{ with "Colour" }}{{ i18n . | default . }}{{ end }}</strong>: [= item.colour_label =]
              [[ endif ]]
              [[ if item.size ]]<br>
              <strong>{{ with "Size" }}{{ i18n . | default . }}{{ end }}</strong>: [= item.size =]
              [[ endif ]]
              <!-- [= item.options | json =] -->
            </td>
            <td class="text-right">[= item.price =]</td>
            <td class="text-center">
              <input
                class="form-control cart-quantity text-center"
                data-id="[= item.id =]"
                data-colour="[= item.colour =]"
                data-size="[= item.size | escape =]"
                type="number"
                value="[= item.quantity =]"
                min="0"
                max="256"
                onchange="updateQuantity(event)"
                inputmode="numeric" /><br>
              <!-- max="[= item.instock =]" -->
              <button
                class="btn btn-sm btn-outline-primary"
                data-id="[= item.id =]"
                data-colour="[= item.colour =]"
                data-size="[= item.size | escape =]"
                onclick="removeItem(event)">{{ with "Delete" }}{{ i18n . | default . }}{{ end }} </button>
            </td>
            <td class="text-right">[= item.subtotal =]</td>
          </tr>
          [[ endfor ]]
          <tr class="border-top">
            <td colspan="2"></td>
            <td rowspan="0">
              <fieldset>
                <legend>{{ with "Choose delivery" }}{{ i18n . | default . }}{{ end }}</legend>
                {{ range $i, $e := site.Params.shipping }}
                <div class="row" style="text-wrap: balance">
                  <div class="col-9">
                    {{- $maxPackageWeight := "" -}}
                    {{- with .max_package_weight -}}
                      {{- $w := partial "utils/parse-weight.html" . -}}
                      {{- with $w.grams -}}
                        {{- $maxPackageWeight = . -}}
                      {{- end -}}
                    {{- end -}}
                    <input type="radio" id="{{- printf "shipping-%s-option" .name -}}" name="delivery"
                           data-delivery-price="{{ .price }}"
                           data-delivery-countries="{{ with .countries }}{{ delimit . "," }}{{ end }}"
                           {{- if $maxPackageWeight }}
                           data-delivery-max-package-weight="{{ $maxPackageWeight }}"
                           {{- end }}
                           {{- $weight_prices := dict -}}
                           {{- with .weight_prices -}}
                             {{- range $cc, $tiers := . -}}
                               {{- $newTiers := slice -}}
                               {{- range $tiers -}}
                                 {{- $maxw := .max_weight -}}
                                 {{- $p := partial "utils/parse-weight.html" $maxw -}}
                                 {{- with $p.grams -}}
                                   {{- $maxw = . -}}
                                 {{- end -}}

                                 {{- $newTiers = $newTiers | append (dict
                                     "max_weight" $maxw
                                     "price"      .price
                                   ) -}}
                               {{- end -}}
                               {{- $weight_prices = merge $weight_prices (dict $cc $newTiers) -}}
                             {{- end -}}
                           {{- end -}}
                           data-delivery-weight-prices='{{ with $weight_prices }}{{ . | jsonify }}{{ end }}'
                           onchange="selectDelivery(event)"
                           {{ if $i }}{{ else }}checked{{ end }}
                           data-delivery-details-required="{{ with .button}}{{ cond . "true" "false" }}{{ else }}false{{ end }}"
                           value="{{ .name }}">
                    <label class="d-inline" for="{{- printf "shipping-%s-option" .name -}}">{{ i18n .description | default .description }}</label>
                    {{ if .details }}
                    <br>
                    <small>{{ .details | markdownify }}</small>
                    {{ end }}
                    {{ if .button }}
                    <br>
                    {{ partial (printf "shipping-%s-button.html" .name) . }}
                    {{ end }}
                  </div>
                    <div class="col-3 text-right" id="{{- printf "shipping-%s-price" .name -}}" data-price="{{- .price -}}">
                    {{ if .price }}
                    {{ .price | lang.FormatCurrency 2 (site.Params.currency) }}
                    {{ else }}
                    {{ with "Free" }}{{ i18n . | default . }}{{ end }}
                    {{ end }}
                  </div>
                </div>
                {{ end }}
              </fieldset>
            </td>
            <td class="text-right"><strong>{{ with "Subtotal" }}{{ i18n . | default . }}{{ end }}</strong></td>
            <td class="text-right">[= subtotal =]</td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="text-right align-middle"><strong>{{ with "Shipping" }}{{ i18n . | default . }}{{ end }}</strong></td>
            <td class="text-right align-middle cart-delivery-total">[= deliveryPrice =]</td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td class="text-right align-middle"><strong>{{ with "Total" }}{{ i18n . | default . }}{{ end }}</strong></td>
            <td class="text-right align-middle cart-total">[= total =]</td>
          </tr>
        </tbody>
    </table>
  </div>
  <div class="col py-5">
  </div>
  [[ else ]]
  <div class="col text-center py-5">
    <h5>{{ with "The cart is empty" }}{{ i18n . | default . }}{{ end }}</h5>
  </div>
  [[ endif ]]
</div>
<div class="row">
  <div class="col mb-2">
      [[ if items.length > 0 ]]
      {{ with site.Params.checkout_checkboxes }}
      <div id="cart-checkout-checkboxes" class="mb-3">
        {{ range . }}
        {{- if eq .type "notice" }}
        <div class="checkout-notice pb-3">
          {{- .label | markdownify -}}
          {{- with .details }}<div class="checkout-checkbox-details">{{ . | markdownify }}</div>{{- end }}
          {{- with .fine_print }}<small class="form-text text-muted">{{ . | markdownify }}</small>{{- end }}
        </div>
        {{- else }}
        <div class="form-check{{ if .required }} checkout-checkbox-required{{ end }}">
          <input class="form-check-input{{ if .required }} required-checkbox{{ end }}"
                 type="checkbox" id="checkout-cb-{{ .id }}"
                 {{- if .default_checked }} checked{{- end }}
                 {{- if .required }} required{{- end }}>
          <label class="form-check-label" for="checkout-cb-{{ .id }}">
            {{- .label | markdownify -}}
          </label>
          {{- with .details }}
          <div class="checkout-checkbox-details">{{ . | markdownify }}</div>
          {{- end }}
          {{- with .fine_print }}
          <small class="form-text text-muted">{{ . | markdownify }}</small>
          {{- end }}
        </div>
        {{- end }}
        {{ end }}
      </div>
      {{ end }}
      [[ endif ]]
      <div class="row">
          <div class="col-sm-12 col-md-6">
              <button class="btn btn-lg btn-block btn-light" onclick="history.back();">{{ with "Continue shopping" }}{{ i18n . | default . }}{{ end }}</button>
          </div>
          [[ if items.length > 0 ]]
          <div class="col-sm-12 col-md-6 text-right">
              <button id="cart-checkout"
                      class="btn btn-lg btn-block btn-success text-uppercase"
                      onclick="performCheckout()">{{ with "Proceed to checkout" }}{{ i18n . | default . }}{{ end }}</button>
          </div>
          [[ endif ]]
      </div>
  </div>
</script>
<section class="section pt-0">
  <div class="container" id="cart-summary">
  </div>
</section>

{{ end }}
