{{ define "main" }}

{{ partial "page-title.html" . }}

<script id="cart-summary-template" type="text/template">
<h3>{{ with "Order summary" }}{{ i18n . | default . }}{{ end }}</h3>
<div class="row">
  [[ if items.length > 0 ]]
  <div class="table-responsive col-12">
    <table class="table">
      <thead>
          <tr>
            <th scope="col"> </th>
            <th scope="col">{{ with "Product" }}{{ i18n . | default . }}{{ end }}</th>
            <th scope="col" class="text-right">{{ with "Price" }}{{ i18n . | default . }}{{ end }}</th>
            <th scope="col" class="text-center">{{ with "Quantity" }}{{ i18n . | default . }}{{ end }}</th>
            <th scope="col" class="text-right">{{ with "Subtotal" }}{{ i18n . | default . }}{{ end }}</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          [[ for item in items ]]
          <tr>
            <td><img class="img-thumbnail" src="[= item.image =]" /> </td>
            <td>
              <a href="[= item.url =]">[= item.name =]</a>
              [[ if item.colour ]]<br>
              <strong>{{ with "Colour" }}{{ i18n . | default . }}{{ end }}</strong>: [= item.colour_label =]
              [[ endif ]]
              [[ if item.size ]]<br>
              <strong>{{ with "Size" }}{{ i18n . | default . }}{{ end }}</strong>: [= item.size =]
              [[ endif ]]
            </td>
            <td class="text-right">[= item.price =]</td>
            <td align="center">[= item.quantity =]</td>
            <td class="text-right">[= item.subtotal =]</td>
            <td> </td>
          </tr>
          [[ endfor ]]
          <tr class="border-top">
            <td colspan="4" class="text-right"><strong>{{ with "Subtotal" }}{{ i18n . | default . }}{{ end }}</strong></td>
            <td class="text-right" id="subtotal_amount">[= subtotal =]</td>
          </tr>
          <tr>
            <td colspan="4" class="text-right align-middle"><strong>{{ with "Shipping" }}{{ i18n . | default . }}{{ end }}</strong></td>
            <td class="text-right align-middle" id="shipping_price">0</td>
          </tr>
          <tr class="d-none" id="discounts-line">
            <td colspan="4" class="text-right align-middle"><strong>{{ with "Discounts" }}{{ i18n . | default . }}{{ end }}</strong></td>
            <td class="text-right align-middle" id="discounts">0</td>
          </tr>
          <tr>
            <td colspan="4" class="text-right align-middle"><strong>{{ with "Total" }}{{ i18n . | default . }}{{ end }}</strong></td>
            <td class="text-right align-middle" id="total_amount">0</td>
          </tr>

        </tbody>
    </table>
  </div>
  [[ else ]]
  <div class="col text-center py-5">
    <h5>{{ with "The cart is empty" }}{{ i18n . | default . }}{{ end }}</h5>
  </div>
  [[ endif ]]
</script>
<script defer>
document.addEventListener("DOMContentLoaded", function() {
  const params = new URLSearchParams(window.location.search)
  const session_id = params.get("session_id")
  const state = params.get("state")
  {{- with (site.Params.CheckoutURL) }}
  const status_url = `{{ . | safeJS }}\/${session_id}\/status`
  {{- else }}
  {{ $baseUrl := urls.Parse (site.BaseURL) }}
  const status_url = `https:\/\/checkout.{{ $baseUrl.Host | safeJS }}\/checkout\/${session_id}\/status`
  {{- end }}
  if (state != "cancelled") {
    $("#checking").removeClass("d-none")
    fetch(status_url).then((response) => response.json()).then((json) => {
      console.log(json)
      if (json.status == "complete") {
        const update_totals = function() {
          $("#checking").addClass("d-none")
          $("#shipping_price").text(Cart.currencyFormat.format(json.amount_shipping / 100))
          $("#discounts").text(Cart.currencyFormat.format(json.amount_discount / 100))
          if (json.amount_discount > 0) {
            $("#discounts-line").removeClass("d-none")
          }
          $("#subtotal_amount").text(Cart.currencyFormat.format(json.amount_subtotal / 100))
          $("#total_amount").text(Cart.currencyFormat.format(json.amount_total / 100))
        }

        if (Cart.empty()) {
          const old_cart = Cart.get(session_id)
          Cart.renderCart(old_cart).then(() => {
            update_totals()
          })
        } else {
          update_totals()
          Cart.shelve(session_id)
          Cart.renderBadge({})
        }

        $(".payment-success, #cart-summary").removeClass("d-none")
      }
    }).catch((error) => console.error(error))
  } else {
      $(".payment-failure").removeClass("d-none")
  }
})
</script>
<section class="section pt-0">
  <div class="container" id="order-status">
    <div class="row">
      <div class="col d-flex justify-content-center">
          <div class="payment-success card my-2 p-2 d-none">
            <div class="card-body row">
              <div class="icon mx-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#198754" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
              </div>
              <h4 class="description p-1">
                {{ with "Your order has been placed." }}{{ i18n . | default . }}{{ end }}
              </h4>
            </div>
          </div>
          <div class="payment-failure card my-2 p-2 d-none">
            <div class="card-body row">
              <div class="icon mx-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#dc3545" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                </svg>
              </div>
              <h4 class="description p-1">
                {{ with "The payment has been cancelled." }}{{ i18n . | default . }}{{ end }}
              </h4>
            </div>
          </div>
          <div id="checking" class="my-2 p-2 d-none">
            <div class="spinner-border spinner-border-sm mx-1" role="status">
              <span class="sr-only">{{ with "Loading..." }}{{ i18n . | default . }}{{ end }}</span>
            </div>
            {{ with "Checking the status of your order" }}{{ i18n . | default . }}{{ end }}
          </div>
      </div>
    </div>
  </div>
  <div class="container d-none" id="cart-summary">
  </div>
  <div class="container">
    <div class="row payment-success payment-failure d-none">
      <div class="col mb-2">
          <div class="row">
              <div class="col-sm-12 col-md-6">
                  <button class="btn btn-lg btn-block btn-light payment-success d-none" onclick="history.back();">{{ with "Continue shopping" }}{{ i18n . | default . }}{{ end }}</button>
              </div>
              <div class="col-sm-12 col-md-6 text-right payment-failure d-none">
                  <a href="{{ "cart/" | absURL }}"
                          class="btn btn-lg btn-block btn-success text-uppercase">{{ with "Back to cart" }}{{ i18n . | default . }}{{ end }}</a>
              </div>
          </div>
      </div>
    </div>
  </div>

</section>


{{ end }}
