{{ "<!-- navigation -->" | safeHTML }}
<header class="sticky-top navigation">
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="{{ site.BaseURL }}"><img class="img-fluid" src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}"></a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
        <i class="ti-menu"></i>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav mx-auto">
          {{ range site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ .URL | absURL }}" role="button" aria-haspopup="true" aria-expanded="false">
              {{ i18n .Name | default .Name }}
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | absURL }}">{{ i18n .Name | default .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absURL }}">{{ i18n .Name | default .Name }}</a>
          </li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
      {{- $page := . }}
      {{- $languages := newScratch }}
      {{- $home := site.GetPage "/" -}}
      {{- range (append $home.Translations (slice $home)) -}}
      {{- $lang  := .Language.Lang -}}
      {{- $ov    := index (where (default (slice) site.Menus.languages) "Identifier" $lang) 0 -}}
      {{- $trans := index (where $page.Translations "Lang" $lang) 0 -}}
      {{- $languages.Set $lang (dict
          "Lang" $lang
          "Name" (or (and $ov $ov.Name) .Language.LanguageName)
          "Weight" (default 9223372036854775807 .Language.Weight)
          "URL" (or .Language.Params.externalURL (and $ov $ov.URL) (and $trans $trans.Permalink) (and (eq $lang $page.Language.Lang) $page.Permalink) .Permalink)
          ) -}}
      {{- end -}}
      {{ with sort $languages.Values "Weight" "asc" }}
      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="ti-world"></i>
            </a>
            <div class="dropdown-menu">
              {{ range . }}
              {{   if .Name }}
              <a class="dropdown-item" href="{{ .URL }}">{{ i18n .Name | default .Name }}</a>
              {{   end }}
              {{ end }}
            </div>
          </li>
        </ul>
      </div>
      {{ end }}
      {{ if (not site.Params.disableCart) }}
      <button class="cart" data-cart-currency="{{ site.Params.currency }}" {{ if site.Params.currencyPrecision -}}
        data-cart-currency-precision="{{- site.Params.currencyPrecision -}}"
        {{- end -}}
      >
        <a href="{{ "cart/" | absURL }}"  class="text-dark"><i class="ti-shopping-cart"></i><span class="badge badge-primary cart-items-count"></span></a>
      </button>
      {{ end }}
    </nav>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}
