{{- $page := .page -}}
{{- $section := .section -}}
{{- if site.Params.showProductSections | or (not $page.IsSection) }}
{{- if or (gt (int $page.Params.instock) 0) (eq (default false $page.Params.orderable) true) }}
{{- $image := partial "utils/get-image" $page }}
{{- $params := partial "utils/get-params" $page }}
{{- $defaultStock := 100 }}
{{- if $section.Params.ZoomOut }}
<div class="col-lg-2 col-sm-3 mb-4">
{{- else }}
<div class="col-lg-4 col-sm-6 mb-4">
{{- end }}
  <div class="card border-0 text-center">
    <a href="{{ $page.Permalink }}">
      <img src="{{ $image }}" alt="{{ $page.Title }}" class="card-img-top">
      {{- $badges := slice }}
      {{- $badges = $badges | append $page.Params.List_Badges }}
      {{- if or $page.Params.Showroom_Sizes $badges }}
      <span style="top: 0; right: 0" class="m-0 position-absolute">
      {{- if $page.Params.Showroom_Sizes }}
      <span class="badge badge-success">
      {{- with "List badge: In showroom" }}{{ i18n . | default "In Showroom" }}{{ end }}
      </span>
      {{- end }}
      {{- range $badge := $badges }}
      {{-   range $severity, $text := $badge }}
      <span class="badge badge-{{ $severity }}">{{ $text }}</span>
      {{-   end }}
      {{- end }}
      </span>
      {{- end }}
      {{- $image_badges := $page.Params.Image_Badges }}
      {{- if $page.Params.Image_Badge }}
      {{- $image_badges = $image_badges | append $page.Params.Image_Badge }}
      {{- end }}
      {{- with $image_badges }}
      <div class="image-badges" style="position: absolute; left: 0; top: 0">
      {{- range . }}
      <img src="{{ .url }}" width="{{ .size }} " class="image-badge" style="display: block; padding: 3px">
      {{- end }}
      </div>
      {{- end }}
    </a>
    <div class="card-body">
      <a href="{{ $page.Permalink }}" {{- if $section.Params.ZoomOut }} class="h6" {{- else }} class="h4" {{- end -}}>{{ $page.Title }}
        {{- if $page.Params.Variant }}&nbsp;<small>{{ $page.Params.Variant }}</small>{{ end }}
      </a>
      {{ if $page.Params.Colour }}
      <p class="m-0">{{ with partial "utils/get-colour-name" $page.Params.Colour }}{{ i18n . | default . }}{{ end }}</p>
      {{ else }}
      {{ $colour_swatch := $page.Params.Colour_Swatch }}
      {{ range $page.Params.Options }}
        {{ if .colours }}
        {{ if gt (len .colours) 1 }}
        <p class="m-0">
        {{- range last (cond (gt (len .colours) 3) 2 3) .colours }}
        {{- $name := partial "utils/get-colour-name" . }}
        {{- $rgb := partial "utils/get-colour-rgb" . }}
        {{- $image_coords := partial "utils/get-colour-image" . }}
        <span
          class="color-button d-inline-block m-0"
          {{ if and $colour_swatch $image_coords }}
            {{ printf "background-repeat: no-repeat; background-image: url(%s); background-position: %s" $colour_swatch $image_coords | printf "style=%q" | safeHTMLAttr }}
          {{ else }}
            {{ printf "background: %s" $rgb | printf "style=%q" | safeHTMLAttr }}
          {{ end }}
          {{ printf "title=%q" (i18n $name | default $name) | safeHTMLAttr }}
          ></span>
        {{- end }}
        {{- if gt (len .colours) 3 }}
        <span
          class="color-button d-inline-block m-0"
          {{- if gt (len .colours) 9 }}
          style="box-shadow: inset 0 0 0 1px #888; padding: 3px; font-size: 13px;"
          {{- else }}
          style="box-shadow: inset 0 0 0 1px #888; padding: 4px; font-size: 13px;"
          {{- end }}
          {{ $ncolours := sub (len .colours) 2 }}
          {{ $scolours := "More colours available" }}
          alt="{{ i18n $scolours (dict "Count" $ncolours) | default $scolours }}"
          title="{{ i18n $scolours (dict "Count" $ncolours) | default $scolours }}"
          >+{{ $ncolours }}</span>
        {{- end }}
        </p>
        {{ end }}
        {{ end }}
      {{ end }}
      {{ end }}
      {{ if $page.Params.Description }}
      <p class="m-0">{{ $page.Params.Description }}</p>
      {{ end }}
      {{ if $page.Params.Price }}
      <div class="mb-4">
        {{ if $page.Params.PriceBefore }}
        <s>{{ $page.Params.PriceBefore | lang.FormatCurrency 2 $page.Site.Params.currency }}</s>
        {{ end }}
        <span class="lead text-primary">{{ $page.Params.Price | lang.FormatCurrency 2 $page.Site.Params.currency }}</span>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
{{ end }}
