{{ define "main" }}

{{ $data := partial "utils/get-data" "homepage" }}

{{ with $data.carousel }}
{{ if .enable }}
    {{- $images := .images -}}
    {{- if and .image_sets .active_set -}}
      {{- $images = index .image_sets .active_set -}}
    {{- end -}}
    <div id="homeCarousel" class="carousel slide img-cover" data-interval="7000" data-ride="carousel" data-pause="false">
      <ol class="carousel-indicators">
        {{ range $i, $v := $images }}
        <li data-target="#homeCarousel" data-slide-to="{{ $i }}"{{ if (eq $i 0) }} class="active"{{ end }}></li>
        {{ end }}
      </ol>
      <div class="carousel-caption d-block">
        <h1><span>{{ .title | markdownify }}</span></h1>
        <p class="lead"><span>{{ .subtitle | markdownify }}</span></p>
        {{- if .link }}
        <a href="{{ .link | safeURL }}" class="btn btn-light btn-lg mr-3">{{ .label }}</a>
        {{- end }}
        {{ range $v := .buttons }}
          <a href="{{ $v.link | safeURL }}" class="btn btn-outline-light btn-lg mr-3">{{ $v.label }}</a>
        {{ end }}
      </div>
      <div class="carousel-inner">
        {{ range $i, $v := $images }}
        <div class="carousel-item{{ if (eq $i 0) }} active{{ end }}">
          {{ $image := resources.Get $v.image }}
          {{ $unused := $image.RelPermalink }}
          {{ $image := $image.Resize "1200x Lanczos" }}
          {{ $colors := $image.Colors }}
          {{ if $v.attribution }}
          <div class="attribution">
            <small>{{ with "Photo credit" }}{{ i18n . | default . }}{{ end }}: {{ $v.attribution }}</small>
            {{ range $c := $colors -}}
            <span {{ printf "color: %s; background-color: %s; width: 10px; height: 10px; display: inline-block;" $c $c | printf "style=%q" | safeHTMLAttr }}></span>
            {{- end }}
          </div>
          {{ end }}
          <img class="d-block img-cover" src="{{ $image.RelPermalink }}" alt="{{ $v.title | markdownify }}"
          {{ if $v.filter }}
          {{ $v.filter | printf "filter: %s" | printf "style=%q" | safeHTMLAttr }}
          {{ end }}
          >
        </div>
        {{ end }}
      </div>
    </div>
{{ end }}
{{ end }}

<!-- banner -->
{{ if $data.banner.enable }}
{{ with $data.banner }}
<section class="section-sm">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5 col-md-6 order-2 order-md-1">
        <h1>{{ .title | markdownify }}</h1>
        <p>{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link }}" class="btn btn-primary mr-3">{{ .label }}</a>
        {{ end }}
        {{ end }}

        {{ if .video.enable }}
        {{ with .video }}
        <a data-toggle="modal" data-src="{{ .videoURL | safeURL }}" data-target="#videoModal"
          class="text-color video-modal"><i
            class="ti-control-play bg-gradient hover-shadow btn-play mr-2"></i><span>{{ with "Watch Video" }}{{ i18n . | default . }}{{ end }}</span></a>
        {{ end }}
        <!-- Modal -->
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0 rounded-0">
              <iframe width="560" height="315" src="" id="video" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="col-lg-7 col-md-6 order-1 order-lg-2">
        <img src="{{ .image | absURL }}" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /banner -->

<!-- about -->
{{ if $data.about.enable }}
{{ with $data.about }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-lg-5 col-md-6">
        <img class="img-fluid" src="{{ .image | absURL }}" alt="">
      </div>
      <div class="col-md-6 col-lg-5">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /about -->

{{ if $data.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}

<!-- material -->
{{ if $data.material.enable }}
{{ with $data.material }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .subtitle | markdownify }}</p>
      </div>
    </div>
    <div class="row">
      {{ range .materialItem }}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card border-0 text-center">
          <img src="{{ .image | absURL }}" alt="material" class="card-img-top border-0">
          <div class="card-body">
            <h4>{{ .title | markdownify }}</h4>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /material -->

<!-- advantage -->
{{ if $data.advantage.enable }}
{{ with $data.advantage }}
{{- $rich := false }}
{{- with index .advantageList 0 }}
{{- if .text }}
{{- $rich = true }}
{{- end }}
{{- end }}
{{ if $rich }}
<section class="section pb-0 advantages">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12">
        <h2 class="text-center">{{ .title | markdownify }}</h2>
        <p class="mb-4 text-center">{{ .subtitle | markdownify }}</p>
        {{ range $index, $item := .advantageList }}
        {{ $even := eq (mod $index 2) 0 }}
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-4 col-md-6 {{ if $even -}} order-lg-first {{- else -}} order-lg-last {{ end }}">
            {{- if $item.image }}
            <img src="{{ $item.image }}" class="rounded-circle img-fluid">
            {{- end }}
          </div>
          <div class="col-lg-8 col-md-6">
            {{- if $item.title }}
            <h2>{{ $item.title | markdownify }}</h2>
            {{- end }}
            <p>{{ $item.text | markdownify }}</p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ else }}
<section class="section pb-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2>{{ .title | markdownify }}</h2>
        <p class="mb-4">{{ .subtitle | markdownify }}</p>
        <ul class="list-unstyled" style="columns: 2;">
          {{ range .advantageList }}
          <li class="mb-3"><i class="ti-arrow-circle-right text-primary mr-2"></i>{{ .listItem }}</li>
          {{ end }}
        </ul>
      </div>
      <div class="col-md-6">
        <img src="{{ .image | absURL}}" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
<!-- /advantage -->

<!-- promo video -->
{{ if $data.video.enable }}
{{ with $data.video }}
<section class="section pb-0">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-5 col-md-6">
        <div class="img-border rounded mb-5 mb-md-0">
          <img src="{{ .videoThumb | absURL }}" alt="video thumb" class="img-fluid rounded">
          <a data-toggle="modal" data-src="{{ .videoURL | safeURL }}" data-target="#videoModal2"
            class="text-color video-modal content-center"><i class="ti-control-play bg-gradient btn-play-lg"></i></a>
          <!-- Modal -->
          <div class="modal fade" id="videoModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content border-0 rounded-0">
                <iframe width="560" height="315" src="" id="video2" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /promo video -->

<!-- products -->
{{ if $data.products.enable }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-4">
        {{ with $data.products }}
        <h2>{{ .title | markdownify }}</h2>
        {{ end }}
      </div>
      {{ range first 6 (where site.RegularPages "Type" "products") }}
      {{ if not .IsSection }}
      {{- $image := partial "utils/get-image" . }}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card border-0 text-center">
          <a href="{{ .Permalink }}">
            <img src="{{ $image }}" alt="{{ .Title }}" class="card-img-top">
          </a>
          <div class="card-body">
            <a href="{{ .Permalink }}" class="h4">{{ .Title }}</a>
            <p>{{ .Params.Description }}</p>
            <div class="mb-4">
              {{ if .Params.PriceBefore }}
              <s>{{ .Params.PriceBefore | lang.FormatCurrency 2 .Site.Params.currency }}</s>
              {{ end }}
              <span class="lead text-primary">{{ .Params.Price | lang.FormatCurrency 2 .Site.Params.currency }}</span>
            </div>
            <button class="cart-add-item btn btn-sm btn-outline-primary" data-item-id="{{ .Params.ProductID }}"
              data-item-name="{{ .Title }}" {{ range first 1 .Params.Images }} data-item-image="{{ $image }}"
              {{ end }} data-item-price="{{ .Params.Price }}" data-item-url="{{ .Permalink }}" data-item-description="{{ .Description }}">
              {{ with "Add to cart" }}{{ i18n . | default . }}{{ end }}
            </button>
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- /products -->

<!-- testimonial -->
{{ if $data.testimonial.enable }}
{{ $rating_map := dict "1" "one" "2" "two" "3" "three" "4" "four" "5" "five" }}
{{ $rating_inv_map := dict "one" "1" "two" "2" "three" "3" "four" "4" "five" "5" }}

{{ with $data.testimonial }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>{{ .title | markdownify }}</h2>
      </div>
    </div>
    <div class="row testimonial-slider">
      {{- range .testimonialItem }}
      <div class="col" itemscope itemtype="https://schema.org/Review">
        <div class="card border-primary text-center">
          <div class="card-body">
            {{- if .image }}
            <img src="{{ .image | absURL }}" class="client-img" alt="{{ .name | markdownify }}" itemprop="image"
                 data-image="{{ .image | absURL }}"
                 data-remote="{{ .image | absURL }}"
                 data-title="{{ with "Review from" }}{{ i18n . | default . }}{{ end }} {{ .name | markdownify }}"
                 data-footer="{{ .content | markdownify }}"
                 data-toggle="lightbox" data-gallery="review-images">
            {{- end }}
            <p class="quoted" itemprop="reviewBody">{{ .content | markdownify }}</p>
            {{- if .link }}
            <link itemprop="sameAs" href="{{ .link }}">
            <h6 class="font-weight-medium" itemprop="author" itemscope itemtype="https://schema.org/Person"><a href="{{ .link }}"><span itemprop="name">{{ .name | markdownify }}</span></a></h6>
            {{- else }}
            <h6 class="font-weight-medium" itemprop="author" itemscope itemtype="https://schema.org/Person">{{ .name | markdownify }}</h6>
            {{- end }}
            {{- if .designation }}
            <small>{{ .designation | markdownify }}</small>
            {{- end }}
            <ul class="list-inline rating {{ index $rating_map .rating | default .rating | lower }} mt-3" itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <meta itemprop="ratingValue" content="{{ index $rating_inv_map .rating | default .rating }}">
            </ul>
          </div>
        </div>
      </div>
      {{- end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /testimonial -->

{{ if $data.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}

{{ end }}
