{{ $image := "" }}
{{ $page := . }}
{{ if $page.Params.Image }}
  {{ $res := $page.Resources.GetMatch $page.Params.Image }}
  {{ if $res }}
    {{ $res = $res.Resize "520x q83" }}
    {{ $res = $res.Crop "520x360 Center" }}
    {{ $image = $res.Permalink }}
  {{ else }}
    {{ $image = $page.Params.Image | absURL }}
  {{ end }}
{{ else }}
  {{ $imageResource := slice }}
  {{ $images := partial "utils/get-images" $page }}
  {{ if $images }}
    {{ $imageResource = index (partial "utils/get-images" $page) 0 }}
  {{ else }}
    {{ $imageResource = $page.Resources.GetMatch "cover.jpg" }}
    {{ if not (or $imageResource $page.IsNode (ne $page.Type "products")) }}
      {{ warnf "Missing cover.jpg for page %q (%s)" $page $page.Permalink }}
    {{ end }}
  {{ end }}
  {{ if $imageResource }}
    {{ $imageResource = $imageResource.Resize "520x q83" }}
    {{ $imageResource = $imageResource.Crop "520x360 Center" }}
    {{ $image = $imageResource.Permalink }}
  {{ end }}
{{ end }}
{{ if and (not $image) ($page.Params.Img_Url) }}
{{   $image = $page.Params.Img_Url }}
{{   warnf "img_url set, using for missing cover: %s" $image }}
{{ end }}
{{ return $image }}
