{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section pt-0">
  <div class="container">
    <div class="row">
      {{ range .Data.Pages }}
      {{ if site.Params.showProductSections | or (not .IsSection) }}
      {{- $image := partial "utils/get-image" . }}
      {{- $params := partial "utils/get-params" . }}
      {{- $defaultStock := 100 }}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card border-0 text-center">
          <a href="{{ .Permalink }}">
            <img src="{{ $image }}" alt="{{ .Title }}" class="card-img-top">
          </a>
          <div class="card-body">
            <a href="{{ .Permalink }}" class="h4">{{ .Title }}</a>
            <p>{{ .Params.Description }}</p>
            {{ if .Params.Price }}
            <div class="mb-4">
              {{ if .Params.PriceBefore }}
              <s>{{ .Params.PriceBefore | lang.FormatCurrency 2 .Site.Params.currency }}</s>
              {{ end }}
              <span class="lead text-primary">{{ .Params.Price | lang.FormatCurrency 2 .Site.Params.currency }}</span>
            </div>
            <button class="cart-add-item btn btn-sm btn-outline-primary" data-item-id="{{ .Params.ProductID }}"
              data-item-name="{{ .Title }}" data-item-image="{{ $image }}"
              data-item-instock="{{ $params.instock | default $defaultStock }}"
              {{ if eq (int (default $defaultStock $params.instock)) 0 }}disabled{{ end }}
              data-item-price="{{ .Params.Price }}" data-item-url="{{ .Permalink }}" data-item-description="{{ .Description }}">
              {{ if eq (int (default $defaultStock $params.instock)) 0 }}
                {{ with "Out of stock" }}{{ i18n . | default . }}{{ end }}
              {{ else }}
                {{ with "Add to cart" }}{{ i18n . | default . }}{{ end }}
              {{ end }}
            </button>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>

{{ partial "cta.html" . }}

{{ end }}
